.board {
    clear : both;
    background-image: url('../images/2-WordGuess.jpg');
    background-repeat: no-repeat;
    background-size: 980px 980px;
    width : 980px;
    height : 980px;
    position : relative;
}

.screen {
    position : absolute;
    top: 40%;
    left : 50%;
    width : 35%;
    height : 40%;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: thick;
    border-radius: 25px;   
    padding: 25px; 
}

@media screen and (max-width : 980px) {
    .clearfix {
        overflow: auto;
    }    
    .board {
        background-size: 980px 980px;
        width : 980px; 
        height : 980px;        
    }
       
}

@media screen and (max-width : 768px) {
    .clearfix {
        overflow: auto;
    }
    .board {
        background-size: 768px 768px;
        width : 768px; 
        height : 768px;        
    }   
}

@media screen and (max-width : 640px) {
    .clearfix {
        overflow: auto;
    }
    .board {
        background-size: 640px 640px;
        width : 640px; 
        height : 640px;        
    }   
}